:host{
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.main{
  width: 95%;
  height: 85%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}
