:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.artist-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
