:host{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 85%;
  gap: 3%;
}

h1{
  width: 100%;
  text-align: center;
  height: 40px;
  border: 1px solid black;
}

.playlist-container{
  overflow: auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
}

.playlist-container::-webkit-scrollbar{
  display: none;
}
