:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.album-img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
