:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-bar{
  border: none;
  height: 100%;
  width: 20%;
  border-radius: 30px;
  padding-left: 10px;
}

.search-bar:focus{
  outline: none;
}

.search-icon-container{
  height: 45px;
  width: 45px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}

i{
  font-size: 1.6em;
  color: white;
}
