:root{
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: 8% 25% 8% 25% 8% 26%;
  grid-template-columns: 100%;
  overflow: auto;
}

main{
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.2);
  gap: 20px;
  overflow: auto;
}

h4{
  margin-bottom: 10px;
}

.artists, .tracks, .albums {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.artists::-webkit-scrollbar, .tracks::-webkit-scrollbar, .albums::-webkit-scrollbar{
  display: none;
}

app-artist-card,
app-song-card,
app-album-card{
  width: 130px;
}
