:host{
  height: 100%;
  width: 100%;
}

main{
  height: 92%;
  width: 94%;
  padding: 2%;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
}

h4{
  margin-bottom: 10px;
}

.artists, .tracks, .albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-template-rows: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 130px;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

.artists::-webkit-scrollbar, .tracks::-webkit-scrollbar, .albums::-webkit-scrollbar{
  display: none;
}

app-artist-card,
app-song-card,
app-album-card{
  max-width: 130px;
  min-width: 130px;
  transition: 100ms all ease-out;
  border-radius: 10px;
}

app-artist-card:hover,
app-song-card:hover,
app-album-card:hover{
  background-color: rgba(255,255,255,0.3);
  transition: 100ms all ease-out;
}

div{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0 10px;
  box-sizing: border-box;
}
