:host{
  height: 97%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.main{
  width: 95%;
  height: 85%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

.main-song{
  overflow: hidden;
  min-width: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
